<p id="notice"><%= notice %></p>

<p>
  <strong>Foo:</strong>
  <%= @build.Foo %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @build.bar %>
</p>

<%= link_to 'Edit', edit_build_path(@build) %> |
<%= link_to 'Back', builds_path %>
